:host ::ng-deep .p-menubar {
    background-color: #FBFBFC !important; /* Cor azul, altere conforme necessário */
    border: none; /* Remove a borda */
}

:host ::ng-deep .p-menubar .p-menuitem-link {
    color: #DFDFDF !important; /* Muda a cor do texto */
}