:host ::ng-deep .p-button-outlined {
    border-width: 2px !important;
    color: #2FBD82 !important;
    border-color: #2FBD82 !important;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
}

.custom-inputs {
    width: 100%;
}