<div class="card">
    <div class="card-header">
        <img [src]="imgSrc" alt="Humor {{ status }}">
        <div>
            <p>{{ status }}</p>
            <p class="value">{{ valor }}</p>
        </div>
    </div>
    <hr class="card-divider">
    <div class="card-info">
        <div>
            <p>Funcionários:</p>
            <p class="bold">{{ funcionarios }}</p>
        </div>
        <div>
            <p>Equipes:</p>
            <p class="bold">{{ equipes }}</p>
        </div>
    </div>
</div>