<div class="container">

    <div class="row min-vh-100 d-flex justify-content-start align-items-center">
        <div class="col-md-7">
            <h2 *ngIf="tipoTemplate != 2">Esqueci minha senha😿</h2>
            <h2 *ngIf="tipoTemplate === 2">Crie sua nova senha😸</h2>
            <p class="semi-titulo" *ngIf="tipoTemplate != 1">Lorem ipsum dolor sit amet consectetur.</p>
            <p class="semi-titulo col-md-7" *ngIf="tipoTemplate === 1">Informe o código para a verificação do e-mail: icaropcemail.com</p>

            <ng-container *ngIf="tipoTemplate === 0">
                <form>
                    <div class="form-group">
                      <label for="email">E-mail</label>
                      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                        placeholder="Digite seu email">
                    </div>         
                    <button type="button" class="btn" (click)="mudarTipoTemplate(1)">ENVIAR</button>
                    <button type="button" class="btn-voltar">VOLTAR</button>
                </form>
            </ng-container>
            
            <ng-container *ngIf="tipoTemplate === 1">
                
                    <div class="d-flex justify-content-center col-md-7">
                        <input type="text" class="quadrado" maxlength="1" placeholder="0">
                        <input type="text" class="quadrado" maxlength="1" placeholder="0">
                        <input type="text" class="quadrado" maxlength="1" placeholder="0">
                        <input type="text" class="quadrado" maxlength="1" placeholder="0">
                    </div>
                    <div class="d-flex justify-content-center col-md-7">
                        <p class="renviar-codigo">REENVIAR CÓDIGO</p>
                    </div>
                    
                    <button type="button" class="btn" (click)="mudarTipoTemplate(2)">PRÓXIMO</button>
                    <button type="button" class="btn-voltar" (click)="mudarTipoTemplate(0)" >VOLTAR</button>
                
                
            </ng-container>

            <ng-container *ngIf="tipoTemplate === 2">

                <div class="form-group">
                    <label for="novaSenha">Nova senha</label>
                    <input type="password" class="form-control" id="novaSenha" aria-describedby="emailHelp"
                      placeholder="ex: @1234Pm">

                    <label for="repitaNovaSenha">Repita a senha</label>
                    <input type="password" class="form-control" id="repitaNovaSenha" aria-describedby="emailHelp"
                      placeholder="ex: @1234Pm">
                  </div> 

                  <p>Mínimo de:</p>
                  <div class="row">
                    <p class="col"><img class="espacamento-img" src="assets\done.svg" alt="Sinal de feito">Letra maíscula</p>
                    <p class="col"><img class="espacamento-img" src="assets\done.svg" alt="Sinal de feito">Letra minúscula</p>
                  </div>
                  <div class="row">
                    <p class="col"><img class="espacamento-img" src="assets\done.svg" alt="Sinal de feito">Caracteres</p>
                    <p class="col"><img class="espacamento-img" src="assets\done.svg" alt="Sinal de feito">Números</p>
                  </div>

                  <button type="button" class="btn" >ENTRAR</button>

                  
            </ng-container>
        </div>

    </div>
    
</div>
