h2 {
    font-size: 24px;
    font-weight: bold;
}

.semi-titulo {
    font-size: 20px;
    margin-bottom: 24px;
}

.btn {
    background-color: #FAC649;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 8px;
    width: 419px;
    height: 48px;
    margin-bottom: 1rem;
}

.btn-voltar {
    background-color: #FBFBFC;
    color: black;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    width: 419px;
    height: 48px;
}

input {
    border-radius: 4px;
    height: 48px;
    width: 419px;
    margin-bottom: 24px;
}

label {
    font-size: 1rem;
}

.quadrado {
    width: 56px;
    height: 48px;
    border-radius: 8px;
    border-color: #9B9B9B;
    font-size: 1.5rem;
    margin-right: 1rem;
    text-align: center;
}

.renviar-codigo {
    font-size: 1rem;
    color: #005FAE;
    font-weight: bold;
}

.col {
    flex: 0 0 30%;
}

.espacamento-img{
    margin-right: 1rem;
}

.margem-lateral{
    margin-left: 8rem;
}
