.esqueci-senha {
    color: #568C76;
    font-size: 16px;
    margin-bottom: 24px;
    font-weight: bold;
    margin-top: 12px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

.semi-titulo {
    font-size: 20px;
    margin-bottom: 24px;
}

.btn {
    background-color: #FAC649;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    width: 419px;
    height: 48px;
}

input {
    border-radius: 4px;
    height: 48px;
    width: 419px;
}

label {
    font-size: 16px;
}

.label-senha {
    margin-top: 16px;
}

.margem-lateral{
    margin-left: 8rem;
}

.login-image {
    max-height: 100vh; /* Limita a altura da imagem para evitar rolagem */
    object-fit: cover; /* Mantém a proporção da imagem */
  }

