<div class="container">
  <div class="row min-vh-100">

    <div class="fundo-quadrado">
      <div>
        <h1>Solicitações de ajustes</h1>
      </div>
      <div class="d-flex align-items-start">
        <div class="input-wrapper">
          <input type="text" placeholder="Pesquise aqui..." #input>
          <fa-icon [icon]="faSearch" class="cor-icon"></fa-icon>
        </div>
        <div class="dropdown-html">
          <select name="empregador" id="empregador">
            <option value="" selected disabled>Empregador</option>
            <option value="volvo">Action</option>
            <option value="saab">Another action</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Something else here</option>
          </select>
        </div>
        <div class="dropdown-html">
          <select name="unidade" id="unidade">
            <option value="" selected disabled>Unidade</option>
            <option value="volvo">Action</option>
            <option value="saab">Another action</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Something else here</option>
          </select>
        </div>
      </div>

      <hr>

      <div class="d-flex align-items-center justify-content-between mb-4">
        <h2>Tabela de ajuste</h2>
        <div class="d-flex">
          <div class="btn-group btn-group-status btn-group-estilo-status" role="group" aria-label="Basic example">
            <button type="button" class="btn" [ngClass]="{ 'active': selectedStatus === 'Pendentes' }"
              (click)="selectStatus('Pendentes', 1)">Pendentes</button>
            <button type="button" class="btn" [ngClass]="{ 'active': selectedStatus === 'Aprovados' }"
              (click)="selectStatus('Aprovados', 1)">Aprovados</button>
            <button type="button" class="btn" [ngClass]="{ 'active': selectedStatus === 'Reprovados' }"
              (click)="selectStatus('Reprovados', 1)">Reprovados</button>
            <div class="indicator" [ngStyle]="{'left': indicatorPosition}"></div>
          </div>

          <div class="btn-group btn-group-status btn-group-estilo-indentificacao" role="group"
            aria-label="Basic example">
            <button type="button" class="btn btn-indentificacao"
              [ngClass]="{ 'active': selectedIndentificacao === 'Todos' }"
              (click)="selectStatus('Todos', 2)">Todos</button>
            <button type="button" class="btn btn-indentificacao"
              [ngClass]="{ 'active': selectedIndentificacao === 'CPF' }" (click)="selectStatus('CPF', 2)">CPF</button>
            <button type="button" class="btn btn-indentificacao"
              [ngClass]="{ 'active': selectedIndentificacao === 'CNPJ' }"
              (click)="selectStatus('CNPJ', 2)">CNPJ</button>
          </div>
        </div>
      </div>

      <div>
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
          </ng-container>
        
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>

    </div>

  </div>