.card {
    height: 80px;
    border-radius: 10px;
    border: none;
    padding: 16px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center; 
    background: white;
}

.emoji {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 16px;
    margin: 0;
}

.number {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}
